@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    /* TEXT COLOR */
    --default-color: white;
    --higlight-color: #06D6A0;

    /* TEXT SIZE */
    --small-text-size: 1em;
    --medium-text-size: 1.4em;
    --semi-large-text-size: 1.7em;
    --large-text-size: 2.2em;
    --very-large-text-size: 3.2em;

    /* TEXT WIDTH */
    --thin-text: 100;
    --extra-light-text: 200;
    --regular-text: 300;
    --medium-text: 500;
    --bold-text: 700;


    /* COLORS */
    --main-background-color: #141414;
}

body {
    background-color: var(--main-background-color);
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    color: var(--default-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.text--higlight {
    color: var(--higlight-color);
    font-weight: var(--bold-text);
}

nav {    
    color: var(--higlight-color);
    font-size: var(--semi-large-text-size);
    font-weight: var(--extra-light-text);
    display: flex;
    row-gap: 1em;
    flex-direction: column;
    align-items: end;
    padding: 1.2em;
    border-right: 2px solid white;
    margin-right: 2em;
    margin-left: 5vw;
    animation: down-appear 2s forwards 2s;
    opacity: 0;
}

.nav_element {
    opacity: 0;
    animation: appear 2s forwards;
    animation-delay: calc(var(--i) * 0.15s + 3.75s);
}

.nav_element:hover {
    font-weight: var(--bold-text);
    cursor: pointer;
}

section {
    display: none;
}


/* WELCOME SECTION */


.section__welcome {
    display: none;
    flex-direction: column;
    row-gap: 0.5em;;
    align-items: start;
}

.welcome__top-text {
    font-size: var(--semi-large-text-size);
    font-weight: var(--regular-text);
    animation: left-appear 2.5s ease-in-out;
}

.welcome__middle-text {
    font-size: var(--very-large-text-size);
    font-weight: var(--bold-text);
    text-shadow: 0px 4px 100px var(--default-color);
    animation: left-appear 2s ease-in-out;
}

.welcome__bottom-text {
    font-size: var(--large-text-size);
    font-weight: var(--medium-text);
    animation: left-appear 1.5s ease-in-out;
}



/* ABOUT SECTION */


.section__about {
    position: relative;
    max-width: 60%;
    max-height: 50%;
    min-width: 45%;
    min-height: 40%;
    background: var(--main-background-color);
    padding: 4vw;
    align-items: center;
}

.section__about::before {
    content: '';
    position: absolute;
    inset: -6px;
    background: linear-gradient(135deg, #828C8A 0%, transparent 10%, transparent 90%, #828C8A 100%);
    z-index: -1;
}

.about__description {
    text-align: justify;
    font-size: var(--medium-text-size);
}


/* Animations */


@keyframes left-appear {
    from {
        opacity: 0;
        transform: translateX(-30%) scale(0.8);
    }
    to {
        opacity: 1;
    }
}

@keyframes down-appear {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }
    to {
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}